## Exercício 1
* Criar os esquemas Pessoa e Cidade

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Cidade;
DROP TABLE IF EXISTS Pessoa;

In [3]:
CREATE TABLE Cidade (
Nome_cidade VARCHAR(30) NOT NULL,
Sigla_estado VARCHAR(2) NOT NULL,
PRIMARY KEY(Nome_cidade)
);

CREATE TABLE Pessoa (
Nome VARCHAR (100) NOT NULL,
Nome_da_mãe VARCHAR (100) NOT NULL,
Ano_nascimento INTEGER NOT NULL,
Nome_cidade_natal VARCHAR (30),
PRIMARY KEY(Nome),
FOREIGN KEY(Nome_cidade_natal)
REFERENCES Cidade(Nome_cidade)
    ON DELETE NO ACTION
    ON UPDATE CASCADE
);

## Exercício 2
* Criar tuplas para cada tabela

In [4]:
INSERT INTO Cidade VALUES ('Belo Horizonte', 'MG');
INSERT INTO Cidade VALUES ('Limeira', 'SP');
INSERT INTO Cidade VALUES ('São Paulo', 'SP');

INSERT INTO Pessoa VALUES ('Alice', 'Joana', '2010', 'Belo Horizonte');
INSERT INTO Pessoa VALUES ('Pedro', 'Maria','1999', 'Limeira');
INSERT INTO Pessoa VALUES ('Rafael', 'Fernanda', '2005', 'São Paulo');

## Exercício 3 item a
* Retornar nome de todas as mães

In [7]:
SELECT Nome_da_mãe FROM Pessoa;

## Exercício 3 item b
* Retornar nome das mães com filhos de maiores de 12 anos

In [9]:
SELECT Nome_da_mãe
FROM Pessoa
WHERE Ano_nascimento < 2008;

## Exercício 4
* Retornar o nome popular dos vírus tratados pelo medicamentos de nome de venda W e pelo medicamento de nome de venda X

In [10]:
SELECT virus.nomePopular, medicamento.nomeVenda
FROM virus, medicamento
WHERE medicamento.nomeVenda = 'W';

SELECT virus.nomePopular, medicamento.nomeVenda
FROM virus, medicamento
WHERE medicamento.nomeVenda = 'X';

org.h2.jdbc.JdbcSQLException:  Table "VIRUS" not found; SQL statement

## Exercício 5
* Listar todos os componentes ativos disponíveis

In [11]:
SELECT DISTINCT compostoAtivo
FROM medicamento;

org.h2.jdbc.JdbcSQLException:  Table "MEDICAMENTO" not found; SQL statement

## Exercício 6
* Retornar o nome popular dos vírus tratados pelo medicamento de composto ativo X

In [12]:
SELECT virus.nomePopular, medicamento.compostoAtivo
FROM virus, medicamento
WHERE medicamento.compostoAtivo = 'X'

org.h2.jdbc.JdbcSQLException:  Table "VIRUS" not found; SQL statement